import numpy as np
import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
# Q-1: A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
#objective of business problem : We need to determine is their any significant difference in the diameter of the cutlet between two ubits.
#Framing of the Hypothesis : Let Mu1 is the mean diameter of cutlet of unit 1 and Mu2 is the mean diameter of cutlet of unit 2
    #Null Hypothesis(H0) : Mu1 - Mu2 = 0 (There is no significant difference in the diameter of the cutlet between two units)
    #Alternative Hypothesis(Ha) : Mu1-Mu2 != 0 (There is difference in the diameter of cutlet between two units)
#Test statistics : We will do two sample two tail test
#Significance level(α) : 0.05 or 5%

In [2]:
import pandas as pd
from scipy import stats

In [3]:
Cutlets = pd.read_csv('D:\\Study\\Assignments\\Hypothesis Testing\\Cutlets.csv')
Cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
UnitA = Cutlets['Unit A']
UnitB = Cutlets['Unit B']

In [5]:
pvalue = stats.ttest_ind(UnitA,UnitB)[1]

In [6]:
pvalue

0.4722394724599501

In [7]:
if pvalue < 0.05:
    print ('We reject Null Hypothesis')
else:
    print ('We fail to reject Null Hypotheis')

We fail to reject Null Hypotheis

# Q-2 : A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [8]:
#Objective : We need to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the 4 laboratories.
#Framing of the Hypothesis : Let µ1, µ2, µ3 and µ4 are the mean TAT of lab1, lab2, lab3 and lab4 respectively.
    #Null Hypothesis(H0) : µ1=µ2=µ3=µ4 (There is no significant difference in the average Turn Around Time (TAT) of reports of the 4 laboratories)
    #Alternative Hypothesis(Ha) : µ1≠µ2≠µ3≠µ4 (There is significant difference in the average Turn Around Time (TAT) of reports of the 4 laboratories)
#Test statistics : We will do ANOVA test as the data is based upon 4 samples
#Significance level(α) : 0.05 or 5%

In [9]:
import pandas as pd
from scipy import stats

In [10]:
LabTAT = pd.read_csv('D:\\Study\\Assignments\\Hypothesis Testing\\LabTAT.csv')
LabTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
Lab1 = LabTAT['Laboratory 1']
Lab2 = LabTAT['Laboratory 2']
Lab3 = LabTAT['Laboratory 3']
Lab4 = LabTAT['Laboratory 4']

In [12]:
pvalue = stats.f_oneway(Lab1,Lab2,Lab3,Lab4)[1]
pvalue

2.1156708949992414e-57

# Q-3: Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [1]:
#objective: We need to determine whether there is significant similarity between sales in different regions for male-female buyer.
#Framing of Hypothesis:
    #Null Hypothesis(H0) : Male - female buyer rations are similar across all regions
    #Alternative Hypothesis(Ha) : Male - female buyer rations are not similar across all regions 
#Test Statistics : Chi Square Test
#Significance Level : 0.05

In [2]:
import pandas as pd
from scipy import stats

In [3]:
BuyerRatio = pd.read_csv('D:\\Study\\Assignments\\Hypothesis Testing\\BuyerRatio.csv')
BuyerRatio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
Males = [50,142,131,70]
Females = [435,1523,1356,750]
Sales = [Males,Females]

In [8]:
chistats = stats.chi2_contingency(Sales)
print('Test t=%f p-value=%f' % (chistats[0], chistats[1]))
print('Interpret by p-Value')
if chistats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=1.595946 p-value=0.660309
Interpret by p-Value
we accept null hypothesis

# Q-4: TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [9]:
#objective: We need to determine whether the defective % varies by centre.
#Framing of Hypothesis:
    #Null Hypothesis(H0) : Defective % does not vary by centre
    #Alternative Hypothesis(Ha) : Defective % varies by centre
#Test Statistics : Chi Square Test
#Significance Level : 0.05

In [10]:
import pandas as pd
from scipy import stats

In [13]:
CostomerOrderForm = pd.read_csv('D:\\Study\\Assignments\\Hypothesis Testing\\Costomer+OrderForm.csv')
CostomerOrderForm.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [15]:
Phillippines = CostomerOrderForm.Phillippines.value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [16]:
Indonesia = CostomerOrderForm.Indonesia.value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [17]:
Malta = CostomerOrderForm.Malta.value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [18]:
India = CostomerOrderForm.Phillippines.value_counts()
India

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [19]:
ErrorFree = [271,267,269,271]
Defective = [29,33,31,29]

In [20]:
chistats_defective = stats.chi2_contingency([ErrorFree,Defective])
print('Test t=%f p-value=%f' % (chistats_defective[0], chistats_defective[1]))
print('Interpret by p-Value')
if chistats_defective[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we fail to reject null hypothesis')

Test t=0.401472 p-value=0.939938
Interpret by p-Value
we fail to reject null hypothesis

# Q-5: Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.

In [ ]:
#Objective: We need to determine whether the % of males versus females walking into the stores based on day of the week.
#Framing of Hypothesis:
    #Null Hypothesis(H0) :Proportion % of males versus females walking into the store do not differ based on day of the week
    #Alternative Hypothesis(Ha) : Proportion % of males versus females walking into the store differ based on day of the week
#Test Statistics : Propotion test
#Significance Level : 0.05

In [6]:
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

In [2]:
Faltoons = pd.read_csv('D:\\Study\\Assignments\\Hypothesis Testing\\Faltoons.csv')
Faltoons.head(10)

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female
5   Female    Male
6   Female  Female
7   Female    Male
8   Female  Female
9   Female    Male

In [3]:
Faltoons.Weekdays.value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [4]:
Faltoons.Weekend.value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [7]:
count = np.array([280, 520]) #How many Male and Female
nobs = np.array([400, 400]) #Total number of Male and Female are there 

stat, pval = proportions_ztest(count, nobs,alternative='two-sided')

C:\Users\tanma\anaconda3\lib\site-packages\statsmodels\stats\weightstats.py:788: RuntimeWarning: divide by zero encountered in double_scalars
  zstat = value / std

In [8]:
pval

0.0